<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wait List</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
  </head>
  <body>
    <div class='grid'>
      <div class='col-1-4'>
        &nbsp;
      </div>
      <div class='col-1-2'>
        <img id='logo' src='/media/logo.png'>
        <div id='form-container'>
          Add a new party to the waitlist:
          <form name='recipeForm'>
            <input type='text' name='name' value='' ng-model='recipe.name' placeholder='Name'>
            <button ng-click='createRecipe(recipe)'>Add</button>
          </form>
        </div>
        <div id='content-container'>
        </div>
      </div>
      <div class='col-1-4'>
        &nbsp;
      </div>
    </div>
  </body>
</html>
